*{
  box-sizing: border-box;

}

.raiderCard{
  border: 2px solid black;
  cursor: pointer;
  flex-basis: 20rem;
  margin: 0.3rem;
  padding: 0;
  display: flex;
  background-color: blueviolet;
}
.raiderCard {
  margin: 0.2rem;
}
.raiderCard h3{
margin: 0.1rem;
}

.raiderCard img{
  border-right: 3px solid black;
}
.raiderCard p{
  margin: 0;
}
.raidCardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}



.raiderCard>img:hover::after{
  display: none;
}



.updateTime{
  z-index: -1;
  margin: 0;
  scale: 0.7;
}