#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}


.contentContainer{
  width: 100%;
  flex-grow: 1;
  background-color: #908f8f9c;
  
}

nav{
  display: flex;
  list-style: none;

  padding: 0;
  
}


a, a:visited{
  text-decoration: none;
}

.navItemLink.active::after{

  width: 100%;

  
 }

.navItemLink{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.060em;
white-space: nowrap;
position: relative;
cursor: pointer;
margin-right: 20px;
}




.navItemLink:hover::after{
  width: 100%;
}

.navItemLink::after{
  content: "";
  width: 0px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -8px;
  height: 4px;
  background-color: red;
  border-radius: 2px;
  transition: width 0.18s ease;
  display: block;
}





header{
 display: flex;
 align-items: center;
}
.mainLogoContainer{
  max-width: 8rem;
  height: 100%;
  margin-right: 5rem;
}
.mainLogoContainer>img{
  overflow: hidden;
  display: block;
  height: auto;
  max-width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

header, footer{
background-color: rgb(10, 40, 10);
width: 100%;
max-width: 1100px;
padding: 0.5rem;
box-shadow: 0 3px 8px rgba(0,0,0,1);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

